<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.repository.ArtistRepository">

    <insert id="create" parameterType="artist">
        INSERT INTO artist (user_id, artist_name, artist_id, image, genre, liked)
        VALUES (#{userId}, #{artistName}, #{artistId}, #{image}, #{genre}, #{liked})
    </insert>

    <delete id="delete">
        DELETE FROM artist
        WHERE artist_id = #{artistId}
        AND user_id = #{userId}
    </delete>

    <select id="findByArtistIdAndUserId" parameterType="map" resultType="Artist">
        SELECT * FROM artist
        WHERE artist_id = #{artistId}
        AND user_id = #{userId}
    </select>

    <update id="update" parameterType="map">
        UPDATE artist
        SET liked = #{liked}
        WHERE artist_id = #{artistId}
        AND user_id = #{userId}
    </update>
    <select id="findByLikedAndArtistIdAndUserId" parameterType="map" resultType="artist">
        select * from artist
        where artist_id = #{artistId}
        and user_id = #{userId}
        and liked = 1
    </select>
    <select id="findByLikedArtistByUserId" parameterType="map" resultType="artist">
        SELECT
        a.* FROM artist a WHERE a.user_id = #{userId} AND a.liked = true
    </select>
    <select id="topArtist" resultType="topArtist">
        SELECT artist_id, artist_name, image, genre, COUNT(*) AS likeCount
        FROM artist
        WHERE liked = true GROUP BY artist_id, artist_name, image, genre
        ORDER BY likeCount ASC LIMIT 10
    </select>

</mapper>
