<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.repository.SongRepository">
    <insert id="create">
        INSERT INTO song ( artist_name, artist_id, song_name, release_date, image, preview, liked, song_id, user_id )
        VALUES ( #{artistName}, #{artistId}, #{songName}, #{releaseDate}, #{image}, #{preview}, #{liked}, #{songId},
        #{userId} )
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM song
        WHERE song_id = #{songId}
    </delete>
    <select id="findBySongId" parameterType="String" resultType="Song">
        SELECT * FROM song WHERE song_id = #{songId}
    </select>

    <update id="update" parameterType="map">
        UPDATE song SET liked = #{liked} WHERE song_id = #{songId} AND user_id = #{userId}
    </update>
    <select id="findBySongIdAndUserId" parameterType="map" resultType="Song">
        SELECT * FROM song
        WHERE song_id = #{songId} AND user_id = #{userId}
    </select>
    <select id="findByLikedSongByUserId" parameterType="map" resultType="Song">
        SELECT
        s.* FROM song s WHERE s.user_id = #{userId} AND s.liked = true
    </select>
    <select id="getTop10LikedSongs" resultType="topSong">
        SELECT song_id, song_name, artist_name, image, COUNT(*) AS likeCount FROM
        song WHERE liked = true GROUP BY song_id, song_name, artist_name
        ORDER BY likeCount desc LIMIT 10
    </select>

</mapper>