<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.repository.UserRepository">
     <insert id="create" parameterType="user">
            insert into users (email, password, gender, nickname, image, created_at, provider, provider_id, picture)
            values ( #{email}, #{password}, #{gender}, #{nickname}, #{image}, now(), #{provider}, #{providerId}, #{picture})
     </insert>
    <select id="findByEmail" resultType="user" parameterType="String">
        select * from users where email=#{email}
    </select>
    <select id="findByProviderAndProviderId" resultType="user">
        select * from users where provider=#{provider} and provider_id=#{providerId}
    </select>
    <select id="findById" resultType="user" parameterType="int">
        SELECT * FROM users where id = #{id}
    </select>

    <select id="findLikedSongsByUserId" resultType="song" parameterType="int">
        SELECT s.*
        FROM song s
        JOIN liked_songs l ON s.id = l.song_id
        WHERE l.user_id = #{userId}
    </select>

</mapper>